* {
    padding: 0;
    margin: 0;
}
#toys {
    height: 120px;
    background: url(./toys/top.png);
    background-size: auto 120px;
    position: relative;
}
.toy {
    display: inline-block;
    width: 40px; height: 60px;
    background-repeat: no-repeat;
    background-position: center top;
    transform-origin: 50% 0;
    background-size: contain;
    margin: 0 15px;

}